{% extends 'base.html' %}{% import 'macros.html' as macro%} {% block content %}
<div class="container-fluid">
  <h3 class="text-center mt-3 mb-0">Checkout Page</h3>

  <div class="checkout-container container-fluid">
    <div class="orders-list">
      {%for item in cart_items%}
      <div class="checkout-item">
        <div class="image">
          <img
            src="{{url_for('static',filename=item.product_picture)}}"
            alt=""
          />
        </div>
        <div class="form-container">
          <div class="form-title">
            <h4 class="">{{item.product}}</h4>

            <h5>
              Cost: {%if item.product_cost%} {{item.product_cost}} {%endif%}
            </h5>
          </div>

          <div class="form">
            <form
              action="{{url_for('main.get_cost',cartItem_id=item.id,product_id=item.product_id,seller_id=seller_id)}}"
              method="POST"
            >
              <label for="size">Size</label>
              <select id="size" class="form-control" name="size">
                <option value="large">Large</option>
                <option value="medium">Medium</option>
                <option value="small">Small</option>
              </select>
              <label for="amount">Amount</label>
              <input
                id="amount"
                name="amount"
                class="form-control"
                type="number"
              />

              <button type="submit" class="form-btn mt-3">Calc</button>
            </form>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="checkout">
      <h3 class="mb-4">Total:{{total_cost_value}}</h3>

      <button
        type="button"
        class="btn btn-outline-success mt-5"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Make Payment
      </button>

      <a
        href="{{url_for('main.user_confirmation',seller_id=seller_id)}}"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        >Make Order</a
      >
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <h4 class="payment-option text-center mt-3">Payment Checkout</h4>
      <div class="modal-body text-center">
        <div class="logo text-center">
          <img src="../static/photos/mpesa.png" alt="" />
        </div>
        <h4 class="mb-5">Total :{{total_cost_value}}</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
