@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

#supplier-landing-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#landing-page-img {
  float: right;
}

#landing-page-text {
  position: absolute;
  float: left;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  width: 250px;
  text-align: center;
  margin-right: 500px;
}

#image-landing {
  background-image: url("/static/photos/Images/ldpage.jpeg");
  height: 500px;
  background-position: center;
  background-size: cover;
}

#order-text {
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  color: white;
}



#s-text {
  /* bottom: 50%; */
  padding-top: 150px;
  padding-left: 20px;
  color: white;
}

#c-text {
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

#b-color {
  flex: 50%;
  background-color: #ee1919;
}

#a-color {
  flex: 50%;
  background-color: white;
}

#weather-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: right;
}
#weather-image p {
  position: absolute;
  float: left;
  margin-top: 10px;
  width: 250px;
  text-align: center;
  margin-left: 350px;
}

#weather-section {
  margin: 30px;
  margin-left: 50px;
  margin-top: 80px;
}
#weather-image {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 160px;
}
/* .card {
  background-color: #ee1919;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 150px;
  font-size: 22px;
} */

.card-text {
  margin-top: 25px;
}

.card-text a {
  color: white;
}

#pizza-places {
  margin-top: 40px;
}

#pizza-places h4 {
  text-align: center;
}

.card-text p {
  text-align: center;
  align-items: center;
}

#business-name .card {
  background-color: #ee1919;
  margin-bottom: 30px;
  margin-top: 50px;
  height: 60px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

#business-name .card p {
  text-align: center;
  margin-top: 15px;
}

.btn {
  background-color: #ee1919;
}

.card-wrapper {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_select {
  height: 250px;
  width: 250px;

  margin: 20px 20px 80px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_select a {
  background-color: rgb(172, 21, 21);
  padding: 100px 70px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  transition: all 0.5s ease;
}

.user_select a:hover {
  padding: 110px 80px;
  font-size: 28px;
}

.navbar {
  background-color: #d43a2f;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  margin-right: 10px;
  font-size: 20px;
}
.suppliers {
  width: 70%;
  height: 150px;
  margin: 50px auto;
}

.supplier-card {
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.supplier-card a {
  text-decoration: none;
  color: white;
  padding: 80px;
  font-size: 30px;
  background-color: red;
  border-radius: 15px;
}

.products {
  margin: 0px auto;
  width: 80%;
}
.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-box-shadow: -1px 3px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 5px 2px rgba(0, 0, 0, 0.75);
}
.product-card img {
  height: 190px;
  object-fit: cover;
  margin-bottom: 19px;
}

.product-title {
  display: flex;
}

.cart-count {
  align-self: flex-end;
}

#supplier-login{
    background-color: #ee1919;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    padding-top:60px;
}

#suppliers-login{
    background-color: #ee1919;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    padding-top:60px;
}

.supplier-name{
    text-align: center;
    margin-top: 50px;   
    font-size: 18px;
}


#supplier-login-text{
    color: white;
    size: 16px;
}

#suppliers-login-text{
    color: white;
    size: 16px;
}
