{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}" />
{% endblock %}{% block content%}
<div class="container">
  <div class="supplier-name">
    <p id="supplier-name-text">Supplier Page</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3" id="supplier-login">
      <p><a href="/orders_page" id="supplier-login-text">INCOMING ORDERS</a></p>
      <p class="text-white orders-count p-0 m-0">{{orders.count()}}</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3" id="suppliers-login">
      <p>
        <a href="/update-product" id="supplier-login-text">UPDATE CATALOGUE</a>
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
