{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}" />
{% endblock %}{%block content%}

<div class="container-fluid">
  <!-- <form>
        <p>Choose Your Category:</p>
        <select>
            <option>Customer</option>
            <option>Seller</option>
        </select>
    </form> -->

  <div id="supplier-landing-page">
    <div id="landing-page-img">
      <img src="../static/photos/landingpage1.jpg" href="pizza image" />
    </div>
    <div id="landing-page-text">
      <p id="text-order">Looking for your better half?</p>
      <button type="submit" class="btn btn-danger">Make Order</button>
    </div>
  </div>

  <div class="container card-wrapper m-5">
    <div class="user_select">
      <a href="{{url_for('main.user_page')}}">Customer</a>
    </div>
    <div class="user_select">
      <a class="text-center" href="{{url_for('main.supplier_page')}}"
        >Supplier</a
      >
    </div>
  </div>

  <div id="image-landing">
    <!-- <img src="Images/ldpage.jpeg" id="ldpage"> -->
    <p id="order-text">
      Make an Order
      <br />
      Let Us Bring it to you
    </p>
  </div>
</div>

{%endblock%}
