<div class="container-fluid p-0">
  {% block styles %}
  <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/index.css')}}"
  />
  {% endblock %}

  <div class="col-md-12 navbar p-3">
    <div class="nav-logo">
      <a class="navbar-brand text-white ml-3" href="/"> Letewaa </a>
    </div>

    <ul class="nav mr-4">
      <li>
        <a class="text-white nav-link" href="/" style="margin-right: 20px">Home</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="text-white nav-link" style="color: white; padding: 15px">
        {{current_user.username}}
      </li>
      <li>
        <a class="text-white nav-link" href="{{url_for('auth.logout')}}"
          >Sign out</a
        >
      </li>
      {% else %}
      <li>
        <a class="text-white nav-link" href="{{url_for('auth.login')}}"
          >Sign in</a
        >
      </li>
      {%endif%}
    </ul>
  </div>
</div>
